<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SET detector</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse bg-inverse">
            <a href="/" title="SET detector" class="navbar-brand">SET detector</a>
        </div>
        <div class="container">
            <div class="row mt-4">
                <h2>Upload and detect SETS</h2>
            </div>
            <div>
                <ul>
                    <li>It supports only images with .jpg extension;</li>
                    <li>The uploaded file cannot be larger than 300KB;</li>
                    <li>The optimal resolution is 416x416;</li>
                </ul>
            </div>
            <div class="row">
                <div class="alert alert-info" role="alert">
                    <strong>Important!</strong> The upload directory is cleaned up in each hour.
                </div>
            </div>
            <div class="row">
                <form method="POST" enctype="multipart/form-data" action="/">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>File to upload:</td>
                                <td><input type="file" name="file"/></td>
                                <td><input type="submit" value="Upload and recognize"/></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>